<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shop Yeoblee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet" href="/assets/css/shop-yeoblee-common-01.css">
<link rel="stylesheet" href="/assets/css/shop-yeoblee-common-02.css">

<style>
body {
font-family: 'Roboto', sans-serif; 
font-family: 'Noto Sans KR', sans-serif;
}
</style>

</head>
<body>

    
    <div id="shopify-section-header" class="shopify-section shopify-section--header">
    	<header class="header" id="section-header" role="banner">
            <a href="/" id="logo">&nbsp;<span class="deskonly">Yeoblee</span></a>
        
        	<nav class="main-menu deskonly">
            	<li class="menu-item ">
                	<a th:href="@{/shop}">Shop&nbsp;</a>
            	</li>
            	<li class="menu-item ">
                	<a href="/about.html">About&nbsp;</a>
            	</li>
            	<li class="menu-item ">
                	<a href="/journal.html">Topics&nbsp;</a>
            	</li>
            	<li class="menu-item ">
            		<a href="#">Community&nbsp;</a>
        		</li>
        	</nav>

        	<nav class="side-menu deskonly">
            	<a class="cart-tog" th:href="@{/mypage/myPage}">
                	<span>&nbsp;마이페이지</span>
            	</a>
            	<a class="cart-tog" th:href="@{/login}" th:unless="${#httpServletRequest.userPrincipal != null}">
                	<span>&nbsp;로그인</span>
            	</a>
            	<a class="cart-tog" th:href="@{/logout}" th:if="${#httpServletRequest.userPrincipal != null}">
                	<span>&nbsp;로그아웃</span>
            	</a>
            	<a class="cart-tog" href="/bag.html">
                	<span>&nbsp;쇼핑백</span>
                	<span class="hc-items-count">(2)</span>
            	</a>
        	</nav>
   
        </header>
    </div>

    

    <main role="main">

        <div id="shopify-section-1627014023e7f9b35f" class="shopify-section shopify-section--slideshow">
            <section id="section-1627014023e7f9b35f" data-section-id="1627014023e7f9b35f" data-section-type="slideshow">

                <div class="slideshow size-default" style="height: 180px;">
                    <div class="slideshow--carousel carousel carousel--fadeIn carousel--insideDots flickity-enabled" data-flickity="{
                        &quot;prevNextButtons&quot;:false,
                        &quot;setGallerySize&quot;: true,
                        &quot;adaptiveHeight&quot;: true,
                        &quot;wrapAround&quot;: true,
                        &quot;dragThreshold&quot;: 15,
                        &quot;pauseAutoPlayOnHover&quot;: false,
                        &quot;autoPlay&quot;: false,
                        &quot;pageDots&quot;:false}" tabindex="0">
                    <div class="flickity-viewport" style="height: 533.516px; touch-action: pan-y;">
                        <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                            <div class="slideshow--slide carousel--cell invert-false is-selected" style="visibility: visible; position: absolute; left: 0%;" data-slide-index="0">
                                
                                    <div class="slideshow--image mobonly hires-wrap ">
                                        <img class="slideshow--image mobonly-img lores ok" src="" alt="">
                                        <img class="slideshow--image mobonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/0011.jpg">
                                    </div>
                                    <div class="slideshow--image deskonly hires-wrap">
                                        <img class="slideshow--image deskonly-img lores ok" src="" alt="">
                                        <img class="slideshow--image deskonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/0011.jpg">
                                    </div>
                                
                                <div class="slideshow--content pos-middle">
                                    <header class="slideshow--content--headers">
                                        <h2 class="slideshow--slide--title left">
                                            <p><a href="/collections/season-sale" title="Season Sale"><strong> </strong></a></p>
                                        </h2>
                                    </header>
                </div></div></div></div></div></div>

            <span id="section-1627014023e7f9b35f-end" class="Anchor"></span>
        </section>
    </div>


    <div id="shopify-section-1636485441045490a3" class="shopify-section shopify-section--features">
        <section id="section-1636485441045490a3" class="features" data-section-id="1636485441045490a3" data-section-type="features">
            <div class="collection the-cols">
                <header class="collection-sidebar the-cols--sidebar">
                    <h3 class="collection-sidebar--title">
                        <p>새로운 컬렉션</p>
                    </h3>
                </header>

            <div class="collection-content the-cols--content">
                <div class="features--block size-half">
                    <figure class="has-link">
                        <a href="#">
                        <div class="features--image mobonly hires-wrap ">
                        <img class="features--image mobonly-img lores ok" src="assets/images/320.png" alt="">
                        <img class="features--image mobonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/320.png">
                        </div>

                        <div class="features--image deskonly hires-wrap ">
                        <img class="features--image deskonly-img lores ok" src="assets/images/320.png" alt="">
                        <img class="features--image deskonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/320.png">
                        </div>
                        </a>
                    </figure>
            
                    <header class="features--block--content">
                        <div class="features--block--title left">
                            <p><a href="#" title="Coats"><strong>감각적인 실루엣</strong></a></p><p><a href="/collections/coats" title="Coats">For cooler days</a></p>
                        </div>
                    </header>
                </div>

                <div class="features--block size-half">
                  <figure class="has-link">
                      <a href="#">
                      <div class="features--image mobonly hires-wrap ">
                      <img class="features--image mobonly-img lores ok" src="assets/images/320.png" alt="">
                      <img class="features--image mobonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/320.png">
                      </div>

                      <div class="features--image deskonly hires-wrap ">
                      <img class="features--image deskonly-img lores ok" src="assets/images/320.png" alt="">
                      <img class="features--image deskonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/320.png">
                      </div>
                      </a>
                  </figure>
          
                  <header class="features--block--content">
                      <div class="features--block--title left">
                          <p><a href="#" title="Coats"><strong>다이내믹한 디테일</strong></a></p><p><a href="/collections/coats" title="Coats">For cooler days</a></p>
                      </div>
                  </header>
              </div>
            </div>
          </div>
        </section>
      <br><br><br>
    </div>

  
  
    <div id="shopify-section-162707078680e20703" class="shopify-section shopify-section--bordered hide-header">
      <section class="section featured-collections" data-section-id="162707078680e20703" data-section-type="featured-collections" data-settings="">
        <div class="collection the-cols">
          <header class="collection-sidebar the-cols--sidebar">
            <h3 class="collection-sidebar--title">
              <a href="#">베스트 아이템</a>
            </h3>
          </header>
            <div class="the-cols--content">
              <div class="collection-list" style="opacity: 1;">

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>
                
                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>

                <div class="products-list--item">
                  <article class="product-item" data-sizes="size_XS size_S size_M size_L size_XL size_XXL ">
                    <div class="product-item--wrap">
                      <a href="/product.html" class="product-item--image">
                        <div class="product-item--images">
                          <div class="product-item--image hires-wrap">
                            <img class="product-item--image-img lores ok" src="assets/images/720.png" alt="">
                            <img class="product-item--image-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="assets/images/720.png">
                          </div>
                        </div>
                      </a>
                      <div class="product-item--info">
                        <h2 class="product-item--info--title not-index">
                          <a href="/product.html">
                            <span class="code">311</span>
                            <span class="full">311 Jacket</span>
                          </a>
                        </h2>
                        <div class="product-item--info--price">
                          <span class="price-span money">₩ 360,000</span>
                        </div>
                      </div>
                    </div>
                  </article>
                  <br>
                </div>
                

            </div>


            <div class="collection-footer">
              <a href="#" class="link">View more</a>
            </div>
            
          </div>
        </div>
      </section>
    </div><!-- END content_for_index -->
  
    <nav class="floating-header" style="display: none;"><p>Explore Collections</p> </nav>

    <hr><hr><hr><hr><hr>
    <hr><hr><hr><hr><hr>

    </main>

    <div id="shopify-section-footer" class="shopify-section shopify-section--footer">
        <footer class="footer second">
            <a href="/" class="second--copyright deskonly"></a>
            <a href="/" class="second--copyright deskonly">&nbsp;copyright © 2023 Yeoblee Inc.</a>
            <a href="/" class="second--copyright deskonly"></a>
            <br>
        </footer>
    </div>


</body>
</html>