<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<link rel="stylesheet" href="/assets/css/shop-yeoblee-common-03.css">
<link rel="stylesheet" href="/assets/css/shop-yeoblee-common-01.css">
<link rel="stylesheet" href="/assets/css/shop-yeoblee-common-02.css">

<style>
body {
font-family: 'Roboto', sans-serif; 
font-family: 'Noto Sans KR', sans-serif;
}
</style>

</head>
<body class="">
    
    <div id="shopify-section-header" class="shopify-section shopify-section--header">
        <header class="header" id="section-header" role="banner">
        <a href="/" id="logo">&nbsp;<span class="deskonly">Yeoblee</span></a>
    
    <nav class="main-menu deskonly">
        <li class="menu-item ">
            <a th:href="@{/shop}">Shop&nbsp;</a>
        </li>
        <li class="menu-item ">
            <a href="#">About&nbsp;</a>
        </li>
        <li class="menu-item ">
            <a href="#">Topics&nbsp;</a>
        </li>
        <li class="menu-item ">
            <a href="#">Community&nbsp;</a>
        </li>
    </nav>

    <nav class="side-menu deskonly">

        <a class="cart-tog" th:href="@{/mypage/myPage}" style="color: #00c500">
        	<span>&nbsp;마이페이지</span>
        </a>
        <a class="cart-tog" th:href="@{/login}" th:unless="${#httpServletRequest.userPrincipal != null}">
        	<span>&nbsp;로그인</span>
        </a>
        <a class="cart-tog" th:href="@{/logout}" th:if="${#httpServletRequest.userPrincipal != null}">
            <span>&nbsp;로그아웃</span>
        </a>
        <a class="cart-tog" href="#">
            <span>&nbsp;쇼핑백</span>
            <span class="hc-items-count">(0)</span>
        </a>

    </nav>
    
        </header>
    </div>
  
    <main role="main" id="content" class="contents" style="min-height: 849px;">
        
        <div id="shopify-section-1627014023e7f9b35f" class="shopify-section shopify-section--slideshow">
            <section id="section-1627014023e7f9b35f" data-section-id="1627014023e7f9b35f" data-section-type="slideshow">

                <div class="slideshow size-default" style="height: 124px;">
                    <div class="slideshow--carousel carousel carousel--fadeIn carousel--insideDots flickity-enabled" data-flickity="{
                        &quot;prevNextButtons&quot;:false,
                        &quot;setGallerySize&quot;: true,
                        &quot;adaptiveHeight&quot;: true,
                        &quot;wrapAround&quot;: true,
                        &quot;dragThreshold&quot;: 15,
                        &quot;pauseAutoPlayOnHover&quot;: false,
                        &quot;autoPlay&quot;: false,
                        &quot;pageDots&quot;:false}" tabindex="0">
                    <div class="flickity-viewport" style="height: 533.516px; touch-action: pan-y;">
                        <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                            <div class="slideshow--slide carousel--cell invert-false is-selected" style="visibility: visible; position: absolute; left: 0%;" data-slide-index="0">
                                
                                    <div class="slideshow--image mobonly hires-wrap ">
                                        <img class="slideshow--image mobonly-img lores ok" src="" alt="">
                                        <img class="slideshow--image mobonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="/assets/images/0011.jpg">
                                    </div>
                                    <div class="slideshow--image deskonly hires-wrap">
                                        <img class="slideshow--image deskonly-img lores ok" src="" alt="">
                                        <img class="slideshow--image deskonly-img hires in" data-src="" alt="" data-srcset="" sizes="100vw" src="/assets/images/0011.jpg">
                                    </div>
                                
                                <div class="slideshow--content pos-middle">
                                    <header class="slideshow--content--headers">
                                        <h2 class="slideshow--slide--title left">
                                            <p><a href="/collections/season-sale" title="Season Sale"><strong> </strong></a></p>
                                        </h2>
                                    </header>
                </div></div></div></div></div></div>

            <span id="section-1627014023e7f9b35f-end" class="Anchor"></span>
        </section>
    </div>

    <div class="default-page the-cols">
    	<div class="default-page--sidebar the-cols--sidebar">
        	<nav class="collection-sidebar--menu">
            	<li class="menu-item is-active" style="margin-bottom: 8px; font-size: 24px;">
                	<a href="#" class="menu-item--link" data-href="" >나의 쇼핑</a>
            	</li>
            	<li class="menu-item ">
                	<a href="#" class="menu-item--link" data-href="">주문 내역 조회</a>
            	</li>
            	<li class="menu-item ">
                	<a href="#" class="menu-item--link" data-href="">위시리스트</a>
            	</li>
            	<li class="menu-item ">
                	<a href="#" class="menu-item--link" data-href="">구매 후기</a>
            	</li>
            	<li class="menu-item ">
                	<a href="#" class="menu-item--link" data-href="">위시리스트</a>
            	</li>
            	<li>
                <br><br>
            	<li class="menu-item is-active" style="margin-bottom: 8px; font-size: 24px;">
                	<a href="#" class="menu-item--link" data-href="" >고객센터</a>
            	</li>
            	<li class="menu-item ">
                	<a href="#" class="menu-item--link" data-href="">자주 묻는 질문</a>
            	</li>
            	<li class="menu-item " style="color: #00c500">
                	<a th:href="@{/mypage/qna}" class="menu-item--link" data-href="">문의 게시판</a>
            	</li>
            	<br><br>
            	<li class="menu-item is-active" style="margin-bottom: 8px; font-size: 24px;">
                	<a href="#" class="menu-item--link" data-href="">회원 정보</a>
            	</li>
            	<li class="menu-item ">
                	<a th:href="@{/mypage/member}" class="menu-item--link" data-href="">회원 정보 관리</a>
            	</li>
            	<li class="menu-item ">
                	<a href="@{/mypage/qna}" class="menu-item--link" data-href="">배송지 관리</a>
            	</li>
            
        	</nav>
        	<br><br><br><br><br><br><br>
       	</div>
       	
        	<div class="default-page--content the-cols--content in">
	            <div class="inner-wrap">
						
					<section class="mypage">
						
						<table class="grid_wrap goods">
						
						<colgroup>
						<col width="100%">
						<!-- <col width="40%">
						<col width="60%"> -->
						</colgroup>
						
							<thead>
								<tr>
									<td style="color: #767676; width: 14%;">&nbsp;&nbsp;번호</td>
									<td style="color: #767676; width: 34%;">문의제목</td>
									<td style="color: #767676; width: 20%;">작성자</td>
									<td style="color: #767676; width: 16%;">조회수</td>
									<td style="color: #767676; width: 16%;">작성일</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="qna, state : ${pagedResult.getContent()}">
									<td style="width: 14%;"><a th:href="@{/mypage/qna/view(qnaNum=${qna.qnaNum})}" th:text="'&nbsp;&nbsp;&nbsp;'+${qna.qnaNum}"></a></td>
									<td style="width: 34%;"><a th:href="@{/mypage/qna/view(qnaNum=${qna.qnaNum})}" th:text="${qna.qnaTitle}"></a></td>
									<td style="width: 20%;"><a th:href="@{/mypage/qna/view(qnaNum=${qna.qnaNum})}" th:text="${qna.qnaWriterId}"></a></td>
									<td style="width: 16%;"><a th:href="@{/mypage/qna/view(qnaNum=${qna.qnaNum})}" th:text="'&nbsp;&nbsp;'+${qna.qnaCnt}"></a></td>
									<td style="width: 16%;"><a th:href="@{/mypage/qna/view(qnaNum=${qna.qnaNum})}" th:text="${#dates.format(qna.qnaRegdate, 'yyyy.MM.dd')}"></a></td>
								</tr>
							</tbody>
						</table>
						<br />
						<div class="count_tit">
						<a th:href="@{/mypage/qna/write}" class="btn bk">문의글 작성</a>
						</div>
						

						<div class="page">
		
						</div>
		
						<div class="list_wrap">
							<ul>
								<li>비방, 광고, 불건전한 내용의 글은 사전 동의 없이 삭제될 수 있습니다.</li>
							</ul>
						</div>
		
					</section>
				</div>
                
            </div>
            
        </div>


    </main>

    <div id="shopify-section-footer" class="shopify-section shopify-section--footer">
        <footer class="footer second">
            <a href="/" class="second--copyright deskonly"></a>
            <a href="/" class="second--copyright deskonly">&nbsp;copyright © 2023 Yeoblee Inc.</a>
            <a href="/" class="second--copyright deskonly"></a>
            <br>
        </footer>
    </div>

    </body>
</html>